@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

h1, h2{
    text-align: center;
    user-select: none;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.gridContainer {
    height: 800px;
    width: 800px;
    display: grid;
    border-radius: 8px;
    outline: 4px solid #3882F2;
}

.cell {
    text-align: center;
    font-size: 10px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit {
    font-size: 18px;
    width: 100px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3882F2;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0px;
    margin-top: 8px;
}

label, input {
    font-size: 18px;
}

input {
    width: 300px;
}

label {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 350px;
}
